@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
    font-family: 'Noto Sans HK', sans-serif;
  }
}
.background {
  width: 100%;
  position: fixed;
  background-image:url("../../../wwwroot/Images/background.jpg");
  height: 100vh;
  filter: blur(2px);
}

