<h3>{{title}}</h3>
<form [formGroup]="form" #editForm>
  
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="form-group col-sm-12">
          <label for="name">Name of Expense</label>
          <input type="text" formControlName="Name" required
                 [ngClass]="{
              'is-invalid': hasError('Name'),
              'is-valid': isChanged('Name') && !hasError('Name')
           }"
                 class="form-control" id="name" placeholder="Enter Name">
          <small *ngIf="hasError('Name')"
                 class="invalid-feedback">This field is required!</small>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="form-group col-sm-6">
          <label for="cost">Cost of Expense</label>
          <input type="number" formControlName="Cost" required
                 [ngClass]="{
            'is-invalid': hasError('Cost'),
            'is-valid': isChanged('Cost') && !hasError('Cost')
           }"
                 class="form-control" id="cost" placeholder="0.0">
          <small *ngIf="hasError('Cost')"
                 class="invalid-feedback">This field is required!</small>
        </div>
        <div class="form-check col-sm-6">
          <label for="coming" class="row ">
            Is Coming.
          </label>
          <mat-slide-toggle class="mat-slide-toggle row " formControlName="IsComing" id="coming"></mat-slide-toggle>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <img *ngIf="expense.Path" class="col-sm-12" [src]="baseUrl  + expense.Path" />
      </div>
      <div class="row justify-content-md-center">
        <div class="form-group col-sm-12" id="upload">
          <app-file-upload [ngClass]="{
            'is-invalid': hasError('Image'),
            'is-valid': isChanged('Image') && !hasError('Image')
           }"
                           formControlName="Image"
                           [progress]="progress"></app-file-upload>


          <small *ngIf="hasError('Image')" style="color:red">
            The required types are .jpg, .png, .jpeg
          </small>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-sm-12">
          <div class="row justify-content-between">
            <div class="col-sm-6">
              <button (click)="onBack()" class="btn btn-link">Back</button>
            </div>
            <div class="col-sm-6">
              <button (click)="onSubmit()" class="btn btn-success" [disabled]="form.invalid">Save</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</form>
